<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>HTML + pdfjs-viewer-element (PDF.js default viewer)</title>
  <style>
    body {
      margin: 0;
    }

    pdfjs-viewer-element {
      height: 100vh;
      height: 100dvh;
    }
  </style>
</head>

<body>
  <pdfjs-viewer-element src="URL_TO_REPLACE" viewer-path="/assets/pdfjs-5.2.133-dist" locale="en" page="PAGE_TO_REPLACE"
    search="CONTRIBUTION">
  </pdfjs-viewer-element>
  <script type="module" src="http://127.0.0.1:PORT_TO_REPLACE/assets/pdfjs-viewer-element-2.7.1.js"></script>

</body>

</html>